<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center ">
            <span>Enter a name:</span>
        </div>
        <div class="col-lg-12 text-center">
            <input type="text" name="name" class="name form-control center-block" [(ngModel)]="name" autofocus="autofocus" />
        </div>
        <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-primary margin-top" (click)="enter()">
                Enter Lobby
            </button>
        </div>
    </div>
</div>