@import "_variables.scss";

@import "pages/_start.scss";
@import "pages/_lobby.scss";


body {
    background-color: #666;
    color: #fff;
}


.margin {
    margin: $margin-size-normal;
}

.margin-top {
    margin-top: $margin-size-normal;
}

.margin-bottom {
    margin-bottom: $margin-size-normal;
}

.margin-left {
    margin-left: $margin-size-normal;
}

.margin-right {
    margin-right: $margin-size-normal;
}



.padding {
    padding: $padding-size-normal;
}

.padding-top {
    padding-top: $padding-size-normal;
}

.padding-bottom {
    padding-bottom: $padding-size-normal;
}

.padding-left {
    padding-left: $padding-size-normal;
}

.padding-right {
    padding-right: $padding-size-normal;
}



input[type=text] {
    min-width: 200px;
}