@import "_variables.scss";
@import "_helpers.scss";

@import "pages/_start.scss";
@import "pages/_lobby.scss";
@import "pages/_tictactoe.scss";

body {
    background-color: #666;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

input[type=text] {
    min-width: 200px;
}